
@font-face {
	font-family: Nexa Rust Free-Desktop;
	src: url(../fonts/fonts/Nexa Rust Free-Desktop/Fonts/NexaRustSlab-BlackShadow01-Free.ttf) ;

}


@font-face {
	font-family: Nexa Rust Free-Desktop;
	src: url(../fonts/fonts/Nexa Rust Free-Desktop/Fonts/NexaRustSlab-BlackShadow01-Free.ttf) ;

}

body {
	background-color: yellow;
	background-image: url(../image/Go_board_0.jpg);
	color: #ece4fd;
}

a.myLinks {
color: #fff;  
text-decoration: none;


}

a:hover { 
color: #f6495a;  



}

.floatLeft{
	float: left;
	margin:0;
	padding: 0;
	border: 3px solid #f81126;
}
.floatRight{
	float: right;
	margin:0;
	padding: 0;
	border: 3px solid #f81126;
}
.paraDiv{
margin-left: 100px;
margin-right: 30px;
	/* margin-right: 250px; */
}

.pFloat{
	float: left;
	
}

.clearIt {
	clear both;
}

h1, h2, p {
	margin-left: 250px;
	margin-right: 250px;
}

h1 {

   font-family: Arimo, Helvetica, Sans-Serif;
   font-size 3em;
   text-align: center;
   
}

h2 {

	font-family: ArimoReg, Helvetica, Sans-Serif;
   font-size 2em;
   text-align: center;
}

p {

	font-size: 2em;
	padding:0;
	margin-right: 50px ;
	margin-left:50px;



}

.transparent_b {

	background-color: rgba(219,228,245,0.9);
	padding: 5px;

	margin-left: 150px;
	margin-right: 150px;

}

